body {
    background-color: #101320;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #ffffff;
    font-size:40px;
    margin: 0px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 300;
}

h2 {
    font-size:25px;
    color: #ffffff;
    margin: 10px;
    font-weight: 300;
}

h3 {
    font-size:30px;
    color: #a2b6ff;
    margin: 0px;
    font-weight:500;
    margin-bottom: 20px;
}


h4 {
    font-size:20px;
    color: #ffffff;
    margin: 0px;
    font-weight:500;
}

p {
    color: #ffffffc0;
    margin: 0px;
    margin-bottom:10px;
}
li {
    color: #ffffffe4;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
}

.splash {
    align-content: center;
    text-align: center;
    height: 100vh;
    background-color: #1338bc;
    
}

.headies {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}


.pfp {
    width: 70px;
    height: 70px; /* Set height to match width for a more consistent shape */
    border-radius: 90% 70% 80% 80% / 60% 50% 90% 80%; /* Customize border radius values */
}


.pfp2{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-10px);
}
.pfp3{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-6px);
}

.about {
    height:auto;
    padding: 20px;
}

.projects {
    height: auto;
    padding: 20px;
}
.box{
    margin: 0px;
    margin-bottom: 50px;
    text-align: right;
}
.projectimg{
    width: 100%;
    border-radius: 10px;
}

.sourceb {
    border: none;
    border-radius: 100px;
    background-color: #34353a;
    color: #ffffff;
    padding: 8px;
    width: auto;
}


.tryb {
    border: none;
    border-radius: 10px;
    background-color: #1338bc;
    color: #ffffff;
    padding: 8px;
    margin: 5px;
}

.experience {
    height: auto;
    padding: 20px;
}

.skills {
    height: auto;
    padding: 20px;
}

.contact {
    height: 90vh;
    padding: 20px;
}
.contact_mom{
margin: 0px;
width: 100%;
height: 100%;
text-align: center;
align-content: center;

}


.grid-container {
    display: grid;
    grid-gap: 10px; /* gap between grid items */
    padding: 0px; /* padding around the grid */
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr); /* 8 equal columns for desktop */
        grid-auto-rows: calc(12.5vw - 10px); /* Setting height equal to width */
    }
}

@media only screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 4 equal columns for mobile */
        grid-auto-rows: calc(25vw - 10px); /* Setting height equal to width */
    }
}


.grid-item {
    padding: 10px;
    text-align: center;
    align-content:center;
    margin: 10px;
    width:40%;
}

.pfp4{
    width:100%;
    margin: 0px;
    padding: 0px;
}





.email {
    margin: 0px;
    width:50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #34353a;
    color: #ffffff;
}

.name {
    margin: 0px;
    width: 25vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #34353a;
    color: #ffffff;
}
.message {
    margin: 0px;
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #34353a;
    color: #ffffff;
}
button{
    margin: 0px;
    width: 30vw;
    border: none;
    border-radius: 10px;
    background-color: #1338bc;
    color: #ffffff;
    padding: 10px;
}

.footies{
    margin: 0px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    opacity:0%;
    transition: opacity 1s ease; /* Smooth transition for opacity change */
}

@keyframes fade {
    0% { opacity: 0.25; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  

  .tag{
    background-color: #000;
    border-radius: 100px;
    padding:2.5px;
    padding-left:5px;
    padding-right:5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
  }

